body {
    font-family: "Poppins";
}

p {
    line-height: 1.4;
    letter-spacing: 1px;
}

img {
    width: 100%;
}
.orange{
    color: #f26522;
}
.pack-color {
    background-color: #be80d3;
}

.container {
    width: 70%;
    margin: auto;
}

header {
    background-color: #e0c8e7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 12%;

}

header ul li {
    margin: 0 10px;
}

header ul li a {
    color: black;
    font-size: 16px;
    font-weight: 500;
}

/* hero */

.hero {
    display: grid;
    grid-template-columns: 700px 1fr;
    margin: 50px auto;
    gap: 50px;
    align-items: center;

}


.stars-div {
    display: flex;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
}

.stars {
    margin-right: 5px;
}

.hero-content {
    padding: 35px;
    background-color: #f7f1f9;
    border-radius: 25px;
    border: 2px solid black;

}

.hero-content h2 {
    font-size: 35px;
    margin-bottom: 8px;
}

.small {
    font-weight: 300;
    color: gray;
}

.hero-content ul.pack {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 25px auto;
}

.hero-content ul.pack li {
    border: 1px solid black;
    margin: 0 15px;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}

.hero-content ul.pack li img {
    width: auto;
    max-height: 48px;
    margin: auto;
    display: block;

}

.hero-content ul.pack li p {
    text-align: center;
    font-weight: 600;
    margin: 5px auto;

}

.btn {
    background-color: #c5ff89;
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: black;
    padding: 8px 12px;
    border: 2px solid black;
    border-radius: 15px;
}

.formula ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formula ul li {
    margin: 10px;
    text-align: center;
}


.formula p:nth-child(1) {
    margin: 10px auto;
    text-align: center;
    margin-top: 20px;
}

.formula ul li img {
    width: 70px;
    display: block;
    margin: auto;
}

.formula ul li p {
    margin: 10px auto;
    font-size: 12px;
    font-weight: 700;
}

.sw-content {
    margin: auto;
}



.pink {
    background-color: #dfc8e7;
    width: 100%;
}

.bullets ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 35px auto;
    padding-bottom: 50px;
}

.bullets ul li img {
    width: 120px;
    margin: auto;
    display: block;
}

.title {
    text-align: center;
    padding-top: 25px;
    font-size: 30px;
}

.bullets ul li p {
    text-align: center;
    font-weight: 600;
}

.bullets p:nth-child(2) {
    text-align: center;
    width: 70%;
    margin: auto;
}

.AMPK {
    padding-bottom: 25px;
}

.AMPK p span {
    font-weight: 700;
    font-size: 18px;
}

.AMPK p {
    margin-bottom: 10px;
}

.AMPK-div {
    display: flex;
    align-items: center;

}

video {
    width: 50%;
    margin: auto;
    margin-left: 10px;
}


/* ingr */




/* second section */
div.ingredients-img {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

div.ingredients-text1 h3,
.new-h3 {
    background-color: #cdabd8;
    font-size: 20px;
    padding: 30px;
    margin-top: 15px;
    margin-bottom: 0;
}

div.ingredients-text1 p,
.new-p {
    background-color: #cdabd8;
    font-size: 17px;
    padding: 30px;
    padding-top: 0;
}

div.ingredients-text2,
div.ingredients-text3,
div.ingredients-text4 {
    display: none;
}

.new-img {
    border-radius: 25px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
}

.no-img-shadow {
    border-radius: 0;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}


.ingredients-img img {
    width: 20%;
}


/* ingr */

.ingredients-text {
    display: none;
    background-color: #cdabd8;
    font-size: 17px;
    padding: 30px;
    padding-top: 10px;
    margin-top: 30px;
    border-radius: 25px;
} 

.ingredients-text:first-child {
    display: block;

}











/* faq */

.q {
    font-weight: 700;
    font-size: 19px;
    /* margin: 7px 0; */
    padding: 15px;
    background-color: white;
    color: black;
    border-radius: 15px;
}

.a {
    display: none;
    margin: 0;
    padding: 15px;
    padding-top: 0;
    margin-top: -5px;
    background-color: white;
    color: black;
    /* border-radius: 15px; */
    border-bottom-left-radius: 15px;

    border-bottom-right-radius: 15px;

}

.faq-content {
    border: black 1px solid;
    margin: 20px auto;
    border-radius: 15px;
    background-color: white;


}

.faq-div {
    padding: 25px;
    color: #005280;
}

.faq {
    /* background-color: #ccdee8; */
    /* margin: 0; */
    padding: 25px 0;
}



/* reviews */

.rev-div {
    border: 1.5px solid black;
    display: grid;
    grid-template-columns: 300px 1fr;
    border-radius: 25px;
    margin: 25px 0;
}

.flex {
    display: flex;
    align-items: center;

}

.flex img {
    width: 35px;
}

.name {
    font-size: 18px;
    font-weight: 700;
}

/* .reviews-right{
    border-left: 1.5px solid black;
    margin: 0 auto; 
  } */

.reviews-left {
    margin: auto;
}

.reviews-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    border-left: 1px solid black;
}

.date {
    font-weight: 600;
    min-width: 15%;
}

.rec {
    font-size: 12px;
    font-weight: 500;
}

.reviews {
    padding-bottom: 25px;
}

.mySwiper1 .swiper-slide {
    width: 100%;
    height: initial;


}



.mySwiper1 .swiper-slide img {
    width: 100%;
    height: 100%;
    border-radius: 48px;
    object-fit: cover;
    border: 2px solid #000;
    border-radius: 48px;
}

.mySwiper1 {
    width: 80%;
    margin: 50px auto;
    padding: 50px 0 !important;

}

.product {
    position: relative;
    width: 60%;
    margin: auto;
}

.product-content {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 50%;
}

.sw2 {
    width: 80%;
    margin: auto;
}




/* order */

.order {
    display: grid;
    grid-template-columns: 700px 1fr;
    gap: 50px;
}


/* label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } */
.prod {
    width: 80%;
    margin: auto;
}

.radio-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 
.radio-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.space{
    display: flex;
    justify-content: space-between;
}
.free {
    text-align: center;
    border: 2px dashed #005280;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    padding: 7px 0;
}

button {
    background-color: #c5ff89;
    color: black;
    border: none;
    padding: 12px 25px;
    font-size: 20px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    margin-top: 15px;
    font-weight: 800;
}

.sw-div {
    margin: auto 0;
}

.order-div h3 {
    font-size: 35px;
    text-align: center;
    color: #c995db;
    font-weight: 800;
    margin-bottom: 10px;

}

.order-radio {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.radio {
    padding: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    font-weight: 500;
}

.yellow {
    background-color: #f5c14f;
}

label p {
    margin-left: 5px;
}

label p span {
    color: #f26522;
    font-weight: 700;
}

input[type="radio"] {
    accent-color: red;
    margin: auto;
}

.order {
    margin: 50px auto;
}

.order-stars {
    display: flex;
    align-items: center;
}

.order-stars img {
    width: 100px;
}

.order-stars p {
    margin: 0;
}

.order-bullets {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px auto;
}

.order-content {
    margin: auto;
    text-align: center;
}

.order-content img {
    width: 80px;
}

.order-content p {
    margin: 0;
    font-size: 14px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

form input,
select {
    margin: 5px 0;
    padding: 5px;
}

/* footer */
footer div.links {
    text-align: center;
    margin: 15px;
}

footer a {
    margin: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
}

footer p {
    text-align: center;
}

footer p.disclaimer {
    width: 70%;
    margin: 10px auto;
    letter-spacing: 0;
    line-height: 1;
    font-size: 14px;
}



@media screen and (max-width: 1800px) {
    .container {
        width: 80%;
    }

    .product {
        width: 75%;
    }

}


@media screen and (max-width: 1500px) {

    .hero,
    .order {
        display: grid;
        grid-template-columns: 550px 1fr;
    }

    .sw2 {
        width: 95%;
        margin: auto;
    }

    .mySwiper1 {
        width: 90%;
    }
}


@media screen and (max-width: 1200px) {

    .hero,
    .order {
        display: grid;
        grid-template-columns: 450px 1fr;
    }

    .container {
        width: 90%;
    }
}


@media screen and (max-width: 994px) {

    .hero,
    .order {
        display: block;
    }

    .sw-content {
        margin-top: 25px;
    }

    .hero-content ul.pack li img {
        width: auto;
        max-height: 81px;
    }

    .product {
        width: 90%;
    }

    p {
        line-height: 1.2;
        letter-spacing: normal;

    }

    .product-content {
        padding: 8px;
    }


    .product-content h2 {
        margin-top: 0;
    }

    .AMPK-div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    video {
        width: 80%;
        margin: auto;
        margin-left: 10px;
        display: block;
        margin: auto;
    }

    .rev-div {
        border: 1.5px solid black;
        display: grid;
        grid-template-columns: 250px 1fr;

    }

    .date {
        font-weight: 600;
        min-width: 30%;
    }

    .ingredients-img img {
        width: 22%;
    }

    .logo {
        width: 25%;
    }
}

@media screen and (max-width: 768px) {
    .product-content h2 {
        font-size: 20px;
    }

    .product-content p {
        font-size: 12px;
    }

    .date {
        font-weight: 600;
        min-width: 15%;
    }

    .rev-div {
        grid-template-columns: 186px 1fr;

    }

    .mySwiper1 {
        width: 100%;
    }

    .mySwiper1 .swiper-slide img {
        width: 85%;
        margin: auto;
    }
}


@media screen and (max-width: 500px) {
    header {
        display: flex;
        flex-direction: column;
    }

    header ul {
        padding-bottom: 15px;

    }

    .bullets ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .hero-content ul.pack li img {
        width: auto;
        max-height: 45px;
    }

    .hero-content ul.pack li {
        margin: 0 5px;
    }

    .desktop {
        display: none;
    }

    .rev-div {
        display: block;
        border: none;
        border-bottom: 1px solid black;
        padding-bottom: 10px;
        border-radius: 0;
    }

    .faq-div {
        padding: 7px;
    }

    .date {
        padding-top: 7px;
    }

    .reviews-right {
        display: flex;
        flex-direction: column;
    }

    .reviews-right {
        border: none;
        padding: 0;
        margin-top: 10px;
    }

    footer div.links {
        display: flex;
        flex-direction: column;

    }

    footer a {
        margin: 5px;
    }

    .product-content {
        position: unset;
        top: 0%;
        left: 0;
        transform: none;
        background-color: white;
        padding: 0;
        width: 100%;
    }

    header ul li a {
        color: black;
        font-size: 13px;
    }

    .logo {
        width: 40%;
    }

    .hero-content {
        padding: 25px 10px;
    }

    .q {
        font-size: 16px;
    }

    .bullets ul {
        margin-bottom: 0;
        padding-bottom: 20px;

    }
}